[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.2"
pytest-mock = "==3.1.1"
responses = "==0.10.14"

[packages]
selenium = "==3.141.0"
appium-python-client = "==1.0.1"
decorator = "==4.4.2"
requests = "==2.24.0"
